.slide {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: inline-block;
  top: 0;
  transition: transform .3s, opacity .3s;
  left:0;
  position: absolute;

  display: flex;
  flex-direction: column;

  .titulo {
    text-align: center;
    height: 5vh;
  }

  .container-itens {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95vh;
    overflow: auto;
    padding: 5%;
    box-sizing: border-box;
  }
}
