/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$transition-time: .6s;

html {

  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  perspective: 1500px;
}

.container-slide {
  transition: transform $transition-time, opacity $transition-time;
  position: absolute;
  top: 0;
  left: 0;


  &.oculto {
    opacity: 0;
  }

  &.antes {
    transform: rotateY(180deg) translateZ(100px);
  }

  &.depois {
    transform: rotateY(-180deg) translateZ(-100px);
  }





  .slide {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;



    .titulo {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-size: 8vw;
      color: #eee;
      text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px;
      margin: 1%;
    }

    .container-itens {
      background-color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      height: 95vh;
      padding: 5%;
      box-sizing: border-box;

      .item-slide {

        text-align: center;
        justify-content: space-around;
        align-items: center;
        display: flex;
        transition: opacity $transition-time, transform $transition-time;


        &.hidden {
          transform: rotateY(90deg);
          opacity: 0;
        }

        .texto {
          background-color: white;
          box-shadow: rgba(0, 0, 0, .5) 3px 3px 0px;
          color: #333;
          padding: 10px;
          font-family: 'open sans';
          font-size: 5vw;
          font-weight: bolder;
          text-transform: uppercase;
        }

        .item-slide-imagem {
          flex-grow: 1
        }
      }
    }
  }





}
