/* You can add global styles to this file, and also import other style files */
html {

  white-space: nowrap;
  position: absolute;
}

.container-slide {
  transition: transform .3s, opacity .4s;
  position: absolute;
  top: 0;
  left: 0;

  &.oculto {
    opacity: 0;
  }
  &.antes {
    transform: translateX(-100%);
  }
  &.depois {
    transform: translateX(100%);
  }



  .slide {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    .titulo {
      text-align: center;
      height: 5vh;
      flex-grow: 1;
    }

    .container-itens {
      background-color: yellow;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 95vh;
      padding: 5%;
      box-sizing: border-box;
      flex-grow: 10;
    }
  }



}
