/* You can add global styles to this file, and also import other style files */
html{

  white-space: nowrap;
  position: absolute;
}

.container-slide {
  transition: transform .3s, opacity .3s;
}
.container-slide.oculto{
  opacity: 0;

}

