/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
$transition-time: 1s;

html {
  white-space: nowrap;
  position: absolute;
  overflow: hidden;
  perspective: 1500px;
  background-color: black;
}

.container-slide {
  transition: transform $transition-time * 2, opacity $transition-time * 2;
  position: absolute;
  top: 0;
  left: 0;
  transform-style: preserve-3d;

  &.oculto {
    opacity: 0;
  }

  &.antes {
    transform: rotateY(180deg) translateZ(100px);
  }

  &.depois {
    transform: rotateY(-180deg) translateZ(-100px);
  }

  .slide {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .titulo {
      text-align: center;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-size: 8vw;
      color: #eee;
      text-shadow: rgba(0, 0, 0, .8) 1px 1px 1px;
      margin: 1%;
      flex-grow: 1;
    }

    .container-itens {
      background-color: #333;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-grow: 10;
      padding: 5%;
      box-sizing: border-box;

      .item-slide {
        text-align: center;
        justify-content: space-around;
        align-items: center;
        display: flex;
        line-break: normal;
        transition: opacity $transition-time, transform $transition-time;

        .texto {
          background-color: white;
          box-shadow: rgba(0, 0, 0, .5) 3px 3px 0px;
          color: #333;
          padding: 10px;
          font-family: 'open sans';
          font-size: 5vw;
          font-weight: bolder;
          text-transform: uppercase;
          transition: background-color $transition-time, color $transition-time;
          width: 100%;
        }

        .item-slide-imagem {
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          min-height: 100px;
          flex-grow: 1;
        }

        &.hidden {
          transform: rotateY(90deg) translateZ(1500px);
          opacity: 0;

          .texto {
            color: white;
            background-color: #333;
          }
        }
      }
    }
  }
}
